@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poetsen One', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.formgroup {
    margin-bottom: 20px;
    position: relative;
    animation: slideIn 1.2s ease-in-out;
}

.formgroup input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 3px solid #333;
    border-radius: 10px;
    transition: 0.3s;
}

.formgroup input:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.6);
    outline: none;
}

.button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

.resultcontainer {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 2px solid #3498db;
    animation: fadeInUp 1.5s ease-in-out;
}

.resultitem p {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
    letter-spacing: 0.5px;
}

/* Animations */
@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes slideIn {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Flex Utilities */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.max-auto {
    margin: auto;
}

/* Text Alignment */
.textcenter {
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
    font-weight: 400;
    font-style: normal;
}
